@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap');

.App {
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  margin: 0;
  height: 100%;
}

.content-container {
  display: flex;
  justify-content: space-around;
  margin-top: calc(1 / 20 * 100vh);
  width: 100%;
  flex-direction: column;
  align-items: center;
}
