.auth-container h2 {
  font-size: 1.3em;
  margin: 5px;
  min-width: 300px;
  text-align: left;
  text-indent: -1.5em;
  text-transform: capitalize;
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  color: #999;
  margin: 20px auto;
}

.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #999;
}

.separator::before {
  margin-right: .25em;
}

.separator::after {
  margin-left: .25em;
}

.auth-container .card{
  padding: 4%;
}
.auth-container .card::before {
  /* the % offsets the padding on .card */
  margin-top: calc(-4% - 1.5em);
  margin-left: calc(-4%);
}
