.Home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Home .card {
  width: 400px;
}

.App-logo {
  width: calc(1 / 8 * 100vw);
}

html,
body,
body>div {
  height: 100%;
}
