.App {
  text-align: center;
  background-color: white;
  font-family: 'Montserrat';
  padding: 0;
  margin: 0;
}

.App-logo {
  width: calc(1/8 * 100vw)
}

.App-header h1 {
  font-size: calc(1/12 * 100vw);
  margin: 0;
  margin-top: calc(-1/25 * 100vh);
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}
