.auth-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 300px;
  width: 300px;
}
.auth-form h1 {
  margin-top: 4px;
}

.auth-form label {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  text-transform: capitalize;
}
.auth-form input {
  width: 16em;
  margin-left: 8px;
}

.field-error {
  color: red;
  margin: 0px 8px 12px;
}
