.card {
  padding: 2%;
  background: #eee;
  border: none;
  border-radius: 0px;
  min-width: 350px;
  max-width: 450px;
  margin-top: 50px;
}

.card::before {
  content: attr(header);
  position: absolute;
  /* the % offsets the padding on .card */
  margin-top: calc(-2% - 1.5em);
  margin-left: calc(-2%);
  text-indent: 0.2em;
  font-weight: 600;
}
