.info-container {
  font-size: large;
  text-align: left;
}

.info-container h2 {
  font-size: medium;
  font-weight: 500;
  text-align: left;
  margin-bottom: 0;
  color: slategray;
}

.error {
  color: crimson;
}
